<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/meta') %>
</head>
<body>
    
<header>
  <%-include('./partials/header') %>
</header>
<main>
    <h2 class="subtitle">
        Catalogo de Star Wars
    </h2>
    <div>
        <form class="buscador" class="d-flex" role="search">
            <input class="form-control-lg" type="search" placeholder="Search" aria-label="Search">
          </form>
    </div>
    <div class="contenido">
        <% personajes.forEach(personaje => { %>
        <div class="card" style="width: 18rem;">
        <% if (personaje.image) { %>
            <img src="<%= personaje.image %>" class="card-img-top" alt="<%= personaje.name %>">
            <% } %>
            <div class="card-body">
            <h5 class="card-title"><%= personaje.name %></h5>
            <p class="card-text"><%= personaje.birth_year %></p>
            <p class="card-text"><%= personaje.gender %></p>
            <a href="#" class="btn btn-primary">Mas Info</a>
            </div>
        </div>
        <% }); %>
    </div>
</main>
<footer>
  <%-include('./partials/footer') %>
</footer>
</body>
</html>